@use '../abstracts/reset';
@use '../abstracts/variables' as var;
@use '../abstracts/typography' as typ;
@use '../abstracts/animations' as ani;

header {
    width: 100%;
    height: 5.5rem;
    background: #404040;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    transition: ani.$trs-2;

    .header-logo {
        font-size: 1rem;
        font-weight: bold;
    }
}

.nav-right {
    display: flex;
    gap: 1.5rem;
}

.hamburger {
    display: none;
}

.dark-mode-icon {
    height: 35px;
    color: white;
}

.nav {
    &-list {
        display: flex;
    }

    &-item a {
        display: inline-block;
        font-size: 1rem;
        padding: 1rem .5rem;
        margin: 0 1.5rem;
        // border-radius: 5rem;
        // transition: ani.$trs-1;
        // margin: 0 .5rem;
        position: relative;
    }

    .nav-item a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #f1faff;
        transform-origin: bottom right;
        transition: ani.$trs-3;
    }

    .nav-item a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
}

    // Sticky Nav
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }